:root {
    --rojo: #F40009;
    --blanco: #ffffff;
    --negro: #000000;

    /*----- Prueba -------*/
    --prueba: 1px solid blue;

    /* ---- Fonts ----- */
    --helvetica: 'HelveticaNeue', sans-serif;
    --better: 'BetterWithNarrow', sans-serif;
    --better: 'BetterWithNarrow-07', sans-serif;
    --holi: 'TCCHolidaysNarrow', sans-serif;
    --unity: 'TCCCUnityCondensed', sans-serif;
}

/*------ Generales --------*/
.max-cont {
    max-width: 1200px;
    margin: 0 auto;
}

.header,
.hero,
.ciudad,
.artist,
.restaurantes,
.ubicacion,
.boletos,
.lineamientos,
.proximo,
.footer {
    width: 100%;
    scroll-snap-align: start
}

.color-title-red {
    color: var(--rojo);
}

.color-title-white {
    color: var(--blanco);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--helvetica);
    font-size: 1.8rem;
    font-size: clamp(1.6rem, 1.2rem + 1vw, 2.2rem);
}

/*--- Navbar --*/
.header {
    position: sticky;
    top: 0;
    z-index: 9;
    height: auto;
    background-color: var(--negro);
    color: var(--blanco);
}

.header-nav {
    width: 100%;
    display: flex;
    align-content: center;
}

.header-logo {
    width: 30%;
    padding: 1rem;
}

.header-logo__img {
    width: 45%;
}

.header-nav__list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--helvetica);
    gap: 3rem;
}

.nav-boletos__btn {
    background-color: var(--rojo);
    padding: 1.5rem 5rem;
    border-radius: 50px;
}


/*------ HERO -------- */
.hero {
    display: grid;
    grid-template-columns: 1fr 50px 1.3fr;
    height: 80dvh;
}

.hero-image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.img-tacos,
.img-artist {
    background-image: url(https://placehold.co/900x400);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image__container {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-pattern {
    background-image: url('../img/franja2.svg');
    background-repeat: repeat;
    width: 100%;
}

.hero-info {
    background-color: var(--rojo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-right: calc((100vw - 1200px) / 2);
}

.logo-principal {
    width: fit-content;
}

.titulo {
    font-family: var(--better);
    font-size: clamp(4rem, 8vw, 13rem);
    line-height: clamp(3.5rem, 7.5vw, 12rem);
    font-weight: 400;
}

/* --- patron sección --- */
.pattern {
    width: 100%;
    height: 50px;
}

.pattern-img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* --- Selecciona tu ciudad --- */
.ciudad {
    padding: 5rem 0;
    scroll-snap-align: start;
    background-color: var(--negro);
    color: var(--blanco);
}

.ciudad-logo {
    width: 30%;
    margin: 0 auto;
}

.ciudad-logo__img {
    display: block;
    width: fit-content;
}

.ciudad-info {
    width: 100%;
    margin: 0 auto;
}

.ciudad-info__text {
    font-family: var(--unity);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.ciudad-select {
    margin: 5rem auto;
    text-align: center;
}

.ciudad-select__title {
    font-family: var(--better);
    font-size: 5rem;
    letter-spacing: 0.3rem;
}

.ciudad-select__btn {
    display: flex;
    margin: 3rem auto;
    align-items: center;
    justify-content: space-evenly;
}

.select-btn {
    padding: 2rem 5rem;
    background-color: var(--negro);
    border: 1px solid var(--blanco);
    border-radius: 5rem;
    font-family: var(--better);
    font-size: 2.5rem;
}

.cdmx {
    background-color: var(--blanco);
    color: var(--negro);
}

/* --- Artistas --- */
.artist {
    background-color: var(--negro);
    text-align: center;
    padding: 10rem;
}

.artist-title {
    font-family: var(--better);
    font-size: clamp(5rem, 10vw, 20rem);
    line-height: clamp(3.5rem, 7vw, 10rem);
    font-weight: 400;
}

.artist-title__down {
    font-size: clamp(3rem, 6vw, 10rem);
}

.artist-subtitle {
    margin: clamp(1.5rem, 3vw, 5rem) auto;
    font-family: var(--unity);
    line-height: 1;
    font-size: clamp(1.5rem, 2.5vw, 5rem);
}

/* ----- cards de artistas ------- */
.artist-cards-container {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-card {
    background: var(--blanco);
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    /* overflow: hidden; */
    width: 30rem;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-2deg);
    transition: transform 0.3s ease;
}

.artist-card:nth-child(2) {
    transform: rotate(2deg);
}

.artist-card:nth-child(3) {
    transform: rotate(0deg);
}

.artist-card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.card-img {
    width: 100%;
    display: block;
    border-radius: 1rem;
}

.card-title {
    font-family: var(--better);
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: var(--negro);
}

/* --- Restaurantes --- */
.restaurantes {
    background-color: var(--negro);
    padding: 5rem 0;
    color: var(--blanco);
}

.restaurantes-cont {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* ----- cards de restaurantes ------- */
.restaurantes-cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    justify-items: center;
}

.restaurante-card {
    background: var(--blanco);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transform: rotate(2deg);
    transition: transform 0.3s ease;
    position: relative;
}

.restaurante-card:nth-child(2) {
    transform: rotate(-2deg);
}

.restaurante-card:nth-child(3) {
    transform: rotate(-4deg);
}

.restaurante-card:nth-child(4) {
    transform: rotate(2deg);
}

.restaurante-card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.restaurante-card__img {
    width: 100%;
    display: block;
    border-radius: 6px;
}

.restaurante-card__title {
    font-family: var(--better);
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
    color: var(--negro);
}


.card-subtitle {
    font-size: 2rem;
}

.restaurantes-cont__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.restaurantes-info__title {
    font-size: 8.5rem;
    font-family: var(--better);
    font-weight: 300;
    letter-spacing: 1rem;
    line-height: 5rem;
}

.restaurantes-info__logo {
    width: 100%;
    margin-top: 5rem;
    padding: 3rem 0;
}

.info-logo__img {
    width: 50%;
    margin: 0 auto;
}

.restaurantes-title__down {
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.restaurantes-info__btn {
    display: block;
    margin: 5rem auto;
    width: 50%;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 2rem;
    color: var(--negro);
}

/* --- Ubicación --- */
.ubicacion {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 5rem 0;
}

.ubicacion-title {
    font-family: var(--better);
    text-align: center;
    font-size: 8.5rem;
    font-weight: 100;
    text-transform: uppercase;
}

/* ---- MAPA --- */
.ubicacion-map {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.ubicacion-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2.0rem;
}

.ubicacion-map__btn {
    margin: 5rem auto;
    width: 30%;
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    font-family: var(--unity);
    font-size: 3rem;
    line-height: 1;
    background-color: var(--rojo);
}

.ubicacion-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--unity);
    font-size: 3rem;
}

.ubicacion-info__column {
    width: 30%;
}

.ubicacion-info__icons {
    margin: 3rem 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.waze,
.maps {
    width: fit-content;
    margin: 3rem 0;
}

.icon {
    display: block;
    width: 35%;
    margin: 0 auto;
}

/*--- Boletos ---*/
.boletos {
    height: 100dvh;
}

.boletos-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boletos-image {
    flex: 1;
    height: 100%;
    background-color: aqua;
}

.bolestos-image__img {
    display: block;
    width: 100%;
    height: 100%;
}

.boletos-info {
    flex: 1;
    height: 100%;
    background-color: var(--rojo);
    padding-right: calc((100vw - 1200px) / 2);
}

.boletos-info__text {
    width: 100%;
    height: 100%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 8rem;
    color: var(--blanco);
}

.boletos-title{
    font-family: var(--better);
    font-size: 6rem;
    text-align: center;
    font-weight: 100;
}

.boletia-logo{
    display: block  ;
    width: 70%;
    margin: 0 auto;
}

.boletia-logo__img{
    width: 100%;
}

.boletos-btn{
    background-color: var(--blanco);
    font-family: var(--unity);
    font-size: 3rem;
    color: var(--rojo);
    font-weight: 700;
    padding: 1rem 10rem;
    border-radius: 2rem;
}

/* --- Próximos eventos --- */
.proximo{
    background-color: var(--rojo);
    color: var(--blanco);
    text-align: center;
    padding: 5rem 0;
}

.proximo-title{
    font-family: var(--better);
    font-weight: 100;
    font-size: 8rem;
}

.proximo-info{
    font-family: var(--unity);
    font-weight: 100;
    font-size: 5rem;
}

.proximo-btn{
    display: block;
    width: 30%;
    margin: 3rem auto;
    margin-bottom: 5rem;
    font-family: var(--unity);
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem 4rem;
    color: var(--negro);
    background-color: var(--blanco);
    border-radius: 1rem;
}

.footer{
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 5rem 0;
    padding-bottom: 1rem;
}

.footer-info{
    font-family: var(--unity);
    font-size: 5rem;
    font-weight: 100;
}

.footer-policy{
    font-family: var(--unity);
    font-size: 2rem;
    font-weight: 100;
}

.lineamientos{
    width: 100%;
    margin: 5rem auto;
    font-family: var(--unity);
    font-size: 2rem;
}

.lineamientos-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 1rem 4rem;
  text-align: left;
  max-width: 1100px;
  margin: 2rem auto;
  list-style-type: disc;
  padding-left: 1.5rem; /* para que las viñetas no queden pegadas */
}

.lineamientos-item {
  font-size: 2rem;
  line-height: 1.6;
}

.lieamientos-list-info{
    margin: 3rem auto;
    display: block;
}
